extends layout

block content
  div.row
    div.col-sm-12
      h1= title
      hr
      p Welcome to TravTools, a collection of Travian tools for 400x400 European map servers.
        br 
        | The site is currently set up to show data for <a href='https://ts19.english.travian.com'>Path to Pandora (US)</a>
        br
        | Currently functioning tools are:
        ul
          li Regions List (Check control by region)
          li Regions Activity (Overview of all regions' population change)
